:root {
    --color-blue: #345C9F;
    --color-blue-light: #5A8FAE;
    --color-orange: #F57E25;
    --color-pink: #B54C70;
    --color-purple: #8B1AC6;
    --color-beige: #D2B885;
}

@font-face {
    font-family: 'Alethiaproregular';
    src: url('./fonts/Alethiaproregular.ttf');
}

@font-face {
    font-family: 'AlethiaProMedium';
    src: url('./fonts/MintType-AlethiaProMedium.otf');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('./fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans-Medium';
    src: url('./fonts/OpenSans-Medium.ttf');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('./fonts/OpenSans-Regular.ttf');
}

.lp-body {
    font-family: 'OpenSans-Regular';
    margin: 0;

}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

.lp-container {
    width: 100%;
    margin: auto;
}

img {
    width: 100%;
}

.lp-h1 {
    font-family: AlethiaProMedium;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;

}

.lp-h1 span {
    display: block;
    color: var(--color-beige);
    font-size: 35px;

}

.lp-hero {
    position: relative;
    color: white;
}

.lp-hero .lp-hero-div {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
}

.lp-hero .lp-hero-div img {
    width: 25%;
    margin: auto;
    display: block;
}

.lp-hero .lp-hero-div p {
    font-size: 13px;
    text-align: center;
    font-weight: 200;
    width: 80%;
    margin: auto;
}

.lp-div-border {
    border-top: 1px solid white;
    border-width: thin;
    border-bottom: none;
    width: 40%;
    margin: 10px auto;
}

/* lp-div-body */

.lp-div-body {
    margin-top: 50px;
    position: relative;
    color: white;
    font-weight: 200;
}

.lp-body-bullets {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    width: 40%;
}

.lp-body-bullets p {
    /* margin-top: 30px; */
    font-size: 12px;
    width: 100%;

}

/* lp-products */
.lp-products {
    width: 95%;
    margin: auto;
    margin-top: 30px;

}

.lp-products h2 {
    text-align: center;
    width: 90%;
    margin: auto;
    font-weight: 600;

}

.lp-products h2 span {
    color: var(--color-beige);
    display: block;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;

}

.lp-product {
    display: grid;
    grid-template-columns: 0.8fr 1fr;

}

.lp-product-right {
    display: grid;
    grid-template-columns: 1fr 0.8fr;

}

.lp-product img,
.lp-product-right img {

    margin: auto;
}

.lp-product-bullets p {
    margin: 0;
    font-size: 16px;
}

.lp-product-bullets h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'AlethiaProMedium';
    font-weight: 400;
    text-transform: uppercase;

}

.lp-product-nra {
    color: var(--color-blue);
}

.lp-product-bullets ul {
    padding: 0;
    display: grid;
    grid-template-columns: 0.3fr 1fr;

}

.lp-product-bullets li {
    list-style-type: none;
    font-size: 13px;
    margin-bottom: 10px;
}

.circle-li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--color-blue);
    list-style-type: none;
}

.lp-product-Senolytic-Q {
    color: var(--color-orange);
}

.orange {
    border: 1px solid var(--color-orange);
}

.lp-product-resveratrol {
    color: var(--color-blue-light);
}

.blue-light {
    border: 1px solid var(--color-blue-light);

}

.lp-product-Skin-Complex-Plus {
    color: var(--color-pink);
}

.pink {
    border: 1px solid var(--color-pink);

}

/* lp-purple-body */
.lp-purple-body {
    margin-top: 25px;

}

.lp-h2 {
    text-align: center;
    font-family: 'AlethiaProMedium';
    font-weight: 200;
    font-size: 30px;
    text-transform: uppercase;
    width: 95%;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 30px;
}

.lp-purple-body h2 span {
    display: block;
}

.lp-purple-bullets {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.purple-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--color-purple);
    display: block;
    margin: auto;
    margin-right: 2px;

}

.lp-purple-flex {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    align-items: center;
    z-index: 2;
    position: relative;


}

.lp-purple-flex-right {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    align-items: center;

}

.lp-purple-flex p,
.lp-purple-flex-right p {
    text-align: center;
    margin: 0;
}

.lp-purple-p {
    font-size: 12px;
    width: 80%;
    margin: auto;
    margin-top: 25px;
}

/* lp-testimonials */
.lp-testimonials {
    margin-top: 30px;
}

.lp-testimonials h2 {
    text-align: center;
    font-family: 'AlethiaProMedium';
    font-weight: 200;
    font-size: 30px;
    text-transform: uppercase;
    width: 95%;
    margin: auto;
    margin-bottom: 25px;
}

.lp-testimonials .lp-quote {
    width: 18%;
    margin: auto;
    display: block;
}

.lp-swiper {
    width: 60%;
    margin: auto;
    font-size: 13px;
    text-align: center;
}

.lp-stars {
    width: 55%;
    margin: auto;
    display: block;
}

.lp-name {
    font-style: italic;
    margin-bottom: 40px;
    font-size: 12px;
}

span.swiper-pagination-bullet-active {
    background: grey;
}

.lp-arrow {
    margin-top: -30px;
}

.reverse {
    transform: scale(1, -1)
}

.lp-top {
    margin-top: -32px;

}

.lp-right {
    margin-right: 25px;
}



.running-line {
    /* height: 40px; */
    width: 100%;
    margin: 0 auto;
    background: var(--color-beige);
}

.running-line p {
    padding: 8px 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    animation: running-line-text 5s infinite linear;
    padding-left: 100%;
    white-space: nowrap;
}

@keyframes running-line-text {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-160%, 0);
    }
}


/* lp-why-text */

.lp-why-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    width: 80%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.lp-why-text div {
     width: 100%; 
     height: 100%;

}

.lp-why-text p {
    font-size: 12px;
}

.lp-why-text img {
    width: 70px;
    margin: auto;
    margin-top: 15px;
}
.lp-why-text p{
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
}
.lp-why-text div:first-child {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
 }
 

.lp-why-text div:last-child {
    border-left: 1px solid black;
    border-top: 1px solid black;
  }
.lp-gradient{

    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(210,184,133,1) 50%, rgba(255,255,255,1) 100%);
}
.lp-gradient p{
    width: 60%;
    margin: auto;
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
    
}