:root {
    --color-blue: #345C9F;
    --color-blue-light: #5A8FAE;
    --color-orange: #F57E25;
    --color-pink: #B54C70;
    --color-purple: #8B1AC6;
    --color-beige: #D2B885;
}

@font-face {
    font-family: 'Alethiaproregular';
    src: url('./fonts/Alethiaproregular.ttf');
}

@font-face {
    font-family: 'AlethiaProMedium';
    src: url('./fonts/MintType-AlethiaProMedium.otf');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('./fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans-Medium';
    src: url('./fonts/OpenSans-Medium.ttf');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('./fonts/OpenSans-Regular.ttf');
}

.lp-body {
    font-family: 'OpenSans-Regular';
    margin: 0;

}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

.lp-container {
    width: 100%;
    margin: auto;
}

img {
    width: 100%;
}

.lp-h1 {
    font-family: AlethiaProMedium;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;

}

.lp-h1 span {
    display: block;
    color: var(--color-beige);
    font-size: 35px;

}

.lp-hero {
    position: relative;
    color: white;
}

.lp-hero .lp-hero-div {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
}

.lp-hero .lp-hero-div img {
    width: 25%;
    margin: auto;
    display: block;
}

.lp-hero .lp-hero-div p {
    font-size: 13px;
    text-align: center;
    font-weight: 200;
    width: 80%;
    margin: auto;
}

.lp-div-border {
    border-top: 1px solid white;
    border-width: thin;
    border-bottom: none;
    width: 40%;
    margin: 10px auto;
}

/* lp-div-body */

.lp-div-body {
    margin-top: 50px;
    position: relative;
    color: white;
    font-weight: 200;
}

.lp-body-bullets {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    width: 40%;
}

.lp-body-bullets p {
    /* margin-top: 30px; */
    font-size: 12px;
    width: 100%;

}

/* lp-products */
.lp-products {
    width: 95%;
    margin: auto;
    margin-top: 30px;

}

.lp-products h2 {
    text-align: center;
    width: 90%;
    margin: auto;
    font-weight: 600;

}

.lp-products h2 span {
    color: var(--color-beige);
    display: block;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;

}

.lp-product {
    display: grid;
    grid-template-columns: 0.8fr 1fr;

}

.lp-product-right {
    display: grid;
    grid-template-columns: 1fr 0.8fr;

}

.lp-product img,
.lp-product-right img {

    margin: auto;
}

.lp-product-bullets p {
    margin: 0;
    font-size: 16px;
}

.lp-product-bullets h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'AlethiaProMedium';
    font-weight: 400;
    text-transform: uppercase;

}

.lp-product-nra {
    color: var(--color-blue);
}

.lp-product-bullets ul {
    padding: 0;
    display: grid;
    grid-template-columns: 0.3fr 1fr;

}

.lp-product-bullets li {
    list-style-type: none;
    font-size: 13px;
    margin-bottom: 10px;
}

.circle-li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--color-blue);
    list-style-type: none;
}

.lp-product-Senolytic-Q {
    color: var(--color-orange);
}

.orange {
    border: 1px solid var(--color-orange);
}

.lp-product-resveratrol {
    color: var(--color-blue-light);
}

.blue-light {
    border: 1px solid var(--color-blue-light);

}

.lp-product-Skin-Complex-Plus {
    color: var(--color-pink);
}

.pink {
    border: 1px solid var(--color-pink);

}

/* lp-purple-body */
.lp-purple-body {
    margin-top: 25px;

}

.lp-h2 {
    text-align: center;
    font-family: 'AlethiaProMedium';
    font-weight: 200;
    font-size: 30px;
    text-transform: uppercase;
    width: 95%;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 30px;
}

.lp-purple-body h2 span {
    display: block;
}

.lp-purple-bullets {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.purple-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--color-purple);
    display: block;
    margin: auto;
    margin-right: 2px;

}

.lp-purple-flex {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    align-items: center;
    z-index: 2;
    position: relative;


}

.lp-purple-flex-right {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    align-items: center;

}

.lp-purple-flex p,
.lp-purple-flex-right p {
    text-align: center;
    margin: 0;
}

.lp-purple-p {
    font-size: 12px;
    width: 80%;
    margin: auto;
    margin-top: 25px;
}

/* lp-testimonials */
.lp-testimonials {
    margin-top: 30px;
}

.lp-testimonials h2 {
    text-align: center;
    font-family: 'AlethiaProMedium';
    font-weight: 200;
    font-size: 30px;
    text-transform: uppercase;
    width: 95%;
    margin: auto;
    margin-bottom: 25px;
}

.lp-testimonials .lp-quote {
    width: 18%;
    margin: auto;
    display: block;
}

.lp-swiper {
    width: 60%;
    margin: auto;
    font-size: 13px;
    text-align: center;
}

.lp-stars {
    width: 55%;
    margin: auto;
    display: block;
}

.lp-name {
    font-style: italic;
    margin-bottom: 40px;
    font-size: 12px;
}

span.swiper-pagination-bullet-active {
    background: grey;
}

.lp-arrow {
    margin-top: -30px;
}

.reverse {
    transform: scale(1, -1)
}

.lp-top {
    margin-top: -32px;

}

.lp-right {
    margin-right: 25px;
}



.running-line {
    /* height: 40px; */
    width: 100%;
    margin: 0 auto;
    background: var(--color-beige);
}

.running-line p {
    padding: 8px 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    animation: running-line-text 5s infinite linear;
    padding-left: 100%;
    white-space: nowrap;
}

@keyframes running-line-text {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-160%, 0);
    }
}


/* lp-why-text */

.lp-why-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    width: 80%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.lp-why-text div {
    width: 100%;
    height: 100%;

}

.lp-why-text p {
    font-size: 12px;
}

.lp-why-text img {
    width: 70px;
    margin: auto;
    margin-top: 15px;
}

.lp-why-text p {
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
}

.lp-why-text div:first-child {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}


.lp-why-text div:last-child {
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.lp-gradient {
    margin-top: 20px;
    ;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(210, 184, 133, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

.lp-gradient p {
    width: 60%;
    margin: auto;
    padding: 10px 0;
    font-size: 12px;
    text-align: center;

}


.lp-h2 span {
    display: block;
    color: var(--color-beige);
    /* font-size: 35px; */
}

.lp-info-div {
    position: relative;
    margin-top: 25px;
}

.lp-info-div div {
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
    width: 50%;
}



.lp-info-div div p {
    font-family: 'Alethiaproregular';
    font-weight: 200;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 13px;
    margin: 0;
}

.lp-info-div div p:first-child {
    font-size: 26px;
}

.lp-info-text {
    width: 90%;
    margin: auto;
    font-size: 12px;

}

.lp-info-text span {
    color: var(--color-blue);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
}

.lp-faq-content {
    margin-bottom: 3px;
    /* padding: 0 20px; */

}

.lp-faq-div {
    margin-bottom: 25px;
    margin-top: 20px;
}

.lp-q {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 900;
    background-color: rgba(52, 91, 159, 0.15);
    padding: 10px 20px;
    margin: 0;
    margin-bottom: 3px;
}

.lp-q::after {
    content: "\2039";
    position: absolute;
    right: 15px;
    color: var(--color-blue);
    font-size: 25px;
    font-weight: 400;
    margin-top: -5px;
    transform: rotate(270deg);

}

.lp-rotate::after {
    content: "\2039";
    position: absolute;
    right: 5px;
    transform: rotate(90deg);
    color: var(--color-blue);
}

.lp-a {
    font-size: 12px;
    line-height: 1.3;
    width: 85%;
    background-color: none;
    padding: 0 20px;

}

.lp-cta {
    background-color: black;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 7px 25px;
    text-decoration: none;
    font-weight: 700;
    margin-left: 25px;
    font-size: 20px;
}



.lp-info-text .lp-orange-text {
    color: var(--color-orange);
}

.lp-orange-background p:first-child {
    background-color: hsla(26, 91%, 55%, 0.15);
}

.lp-orange-background .lp-q::after {
    color: var(--color-orange);
}




.lp-info-text .lp-light-blue-text {
    color: var(--color-blue-light);
}

.lp-light-blue-background p:first-child {
    background-color: hsla(202, 34%, 52%, 0.15);
}

.lp-light-blue-background .lp-q::after {
    color: var(--color-blue-light);
}



.lp-info-text .lp-pink-text {
    color: var(--color-pink);
}

.lp-pink-background p:first-child {
    background-color: hsla(339, 42%, 50%, 0.15);
}

.lp-pink-background .lp-q::after {
    color: var(--color-pink);
}


/* lp-last-div */

.lp-last-div {
    position: relative;
    margin-top: 40px;
}

.lp-last-div div {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.lp-last-div div p {
    background-color: var(--color-beige);
    font-size: 16px;
    border-radius: 15px;
    font-weight: 900;
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 8px 20px;
    color: #2f2f2f;
}

.lp-last-div .lp-h2 {
    margin-bottom: 7px;
    font-family: Alethiaproregular;
}

.lp-last-p {
    margin-top: 20px;
}

.lp-last-p p {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 600;
}

.lp-last-p p:first-child {
    font-weight: 400;
}

.lp-last-p p:nth-child(2) {
    border-left: 3px solid var(--color-blue);
    padding-left: 10px;
}

.lp-last-p p:nth-child(3) {
    border-left: 3px solid var(--color-orange);
    padding-left: 10px;
}

.lp-last-p p:nth-child(4) {
    border-left: 3px solid var(--color-blue-light);
    padding-left: 10px;
}

.lp-last-p p:nth-child(5) {
    border-left: 3px solid var(--color-pink);
    padding-left: 10px;
}


/* lp-last-banner */

.lp-last-banner {
    position: relative;

}

.last-banner-div {
    position: absolute;
    top: 20%;
    width: 60%;

}

.last-banner-div-span{
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 30px;
}
.last-banner-div div{
    display: flex;
    column-gap: 10px;
    background-color: #2f2f2f;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-transform: uppercase;
    padding: 5px 7px;

}
.last-banner-div div img{
    width: 20px;
    
}
.last-banner-div div p{
    font-weight: 600;
    margin: 0;
}
.last-banner-div div p span{
    color: var(--color-beige);
}

.last-banner-div p{
    margin-left: 20px;
    font-family: Alethiaproregular;
    font-weight: 700;
    font-size: 14px;
}