:root {
    --color-blue: #345C9F;
    --color-blue-light: #5A8FAE;
    --color-orange: #F57E25;
    --color-pink: #B54C70;
    --color-purple: #8B1AC6;
    --color-beige: #D2B885;
}

@font-face {
    font-family: 'Alethiaproregular';
    src: url('./fonts/Alethiaproregular.ttf');
}

@font-face {
    font-family: 'AlethiaProMedium';
    src: url('./fonts/MintType-AlethiaProMedium.otf');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('./fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans-Medium';
    src: url('./fonts/OpenSans-Medium.ttf');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('./fonts/OpenSans-Regular.ttf');
}

.lp-body {
    font-family: 'OpenSans-Regular';
    margin: 0;

}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

.lp-container {
    width: 100%;
    margin: auto;
}

img {
    width: 100%;
}

.lp-h1 {
    font-family: AlethiaProMedium;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;

}

.lp-h1 span {
    display: block;
    color: var(--color-beige);
    font-size: 35px;

}

.lp-hero {
    position: relative;
    color: white;
}

.lp-hero .lp-hero-div {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
}

.lp-hero .lp-hero-div img {
    width: 25%;
    margin: auto;
    display: block;
}

.lp-hero .lp-hero-div p {
    font-size: 13px;
    text-align: center;
    font-weight: 200;
    width: 80%;
    margin: auto;
}

.lp-div-border {
    border-top: 1px solid white;
    border-width: thin;
    border-bottom: none;
    width: 40%;
    margin: 10px auto;
}

/* lp-div-body */

.lp-div-body {
    margin-top: 50px;
    position: relative;
    color: white;
    font-weight: 200;
}

.lp-body-bullets {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    width: 40%;
}

.lp-body-bullets p {
    /* margin-top: 30px; */
    font-size: 12px;
    width: 100%;

}

/* lp-products */
.lp-products {
    width: 95%;
    margin: auto;
    margin-top: 30px;

}

.lp-products h2 {
    text-align: center;
    width: 90%;
    margin: auto;
    font-weight: 600;

}

.lp-products h2 span {
    color: var(--color-beige);
    display: block;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;

}

.lp-product {
    display: grid;
    grid-template-columns: 0.8fr 1fr;

}

.lp-product-right {
    display: grid;
    grid-template-columns: 1fr 0.8fr;

}

.lp-product img,
.lp-product-right img {

    margin: auto;
}

.lp-product-bullets p {
    margin: 0;
    font-size: 16px;
}

.lp-product-bullets h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'AlethiaProMedium';
    font-weight: 400;
    text-transform: uppercase;

}

.lp-product-nra {
    color: var(--color-blue);
}

.lp-product-bullets ul {
    padding: 0;
    display: grid;
    grid-template-columns: 0.3fr 1fr;

}

.lp-product-bullets li {
    list-style-type: none;
    font-size: 13px;
    margin-bottom: 10px;
}

.circle-li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--color-blue);
    list-style-type: none;
}

.lp-product-Senolytic-Q {
    color: var(--color-orange);
}

.orange {
    border: 1px solid var(--color-orange);
}

.lp-product-resveratrol {
    color: var(--color-blue-light);
}

.blue-light {
    border: 1px solid var(--color-blue-light);

}

.lp-product-Skin-Complex-Plus {
    color: var(--color-pink);
}

.pink {
    border: 1px solid var(--color-pink);

}